<template>
  <a-layout style="min-height: 100vh">
    <a-layout-sider v-model:collapsed="collapsed" collapsible>
      <div class="logo"><a href="/">八维电商平台</a></div>
      <a-menu v-model:selectedKeys="selectedKeys" theme="dark" mode="inline">
        <a-menu-item key="1">
          <pie-chart-outlined />
          <span>首页</span>
        </a-menu-item>
        <a-sub-menu key="sub1">
          <template #title>
            <span>
              <user-outlined />
              <span>产品管理</span>
            </span>
          </template>
          <a-menu-item key="3">
            <router-link to="/index">分组管理</router-link>
          </a-menu-item>
          <a-menu-item key="4"
            ><router-link to="/index">产品管理</router-link></a-menu-item
          >
          <a-menu-item key="5"
            ><router-link to="/index">分类管理</router-link></a-menu-item
          >
          <a-menu-item key="6"
            ><router-link to="/index">评论管理</router-link></a-menu-item
          >
          <a-menu-item key="7"
            ><router-link to="/index">规格管理</router-link></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub2">
          <template #title>
            <span>
              <team-outlined />
              <span>门店管理</span>
            </span>
          </template>
          <a-menu-item key="8"
            ><router-link to="/index">公告管理</router-link></a-menu-item
          >
          <a-menu-item key="9"
            ><router-link to="/index">热搜管理</router-link></a-menu-item
          >
          <a-menu-item key="10"
            ><router-link to="/index">轮播图管理</router-link></a-menu-item
          >
          <a-menu-item key="11"
            ><router-link to="/index">运费管理</router-link></a-menu-item
          >
          <a-menu-item key="12"
            ><router-link to="/index">自提点管理</router-link></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub3">
          <template #title>
            <span>
              <team-outlined />
              <span>会员管理</span>
            </span>
          </template>
          <a-menu-item key="13"
            ><router-link to="/index">会员管理</router-link></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub4">
          <template #title>
            <span>
              <team-outlined />
              <span>订单管理</span>
            </span>
          </template>
          <a-menu-item key="14"
            ><router-link to="/index">订单管理</router-link></a-menu-item
          >
        </a-sub-menu>
        <a-sub-menu key="sub5">
          <template #title>
            <span>
              <team-outlined />
              <span>系统管理</span>
            </span>
          </template>
          <a-menu-item key="6">Team 1</a-menu-item>
          <a-menu-item key="8">Team 2</a-menu-item>
        </a-sub-menu>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0" />
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>User</a-breadcrumb-item>
          <a-breadcrumb-item>Bill</a-breadcrumb-item>
        </a-breadcrumb>
        <div
          :style="{ padding: '24px', background: '#fff', minHeight: '360px' }"
        >
          B999999999999
        </div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Ant Design ©2018 Created by Ant UED
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script>
import { toRefs, reactive } from "vue";
export default {
  setup() {
    const state = reactive({
      lazy: {
        collapsed: false,
      },
    });
    return {
      ...toRefs(state),
    };
  },
};
</script>
<style lang="scss" scoped>
.logo {
  background-color: rgb(2, 161, 233) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #fff !important;
    font-size: 16px !important;
  }
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
